#include <windows.h>

IDI_ICON1 ICON "logo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,0
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Template Project"
            VALUE "FileDescription", "Desktop Demo Shell"
            VALUE "FileVersion", "0.0.0.0"
            VALUE "InternalName", "demo"
            VALUE "LegalCopyright", "Copyright (c) Template Project."
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "demo.exe"
            VALUE "ProductName", "Desktop Demo Shell"
            VALUE "ProductVersion", "0.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
